spring:
  application:
    name: sharding-jdbc-demo

logging:
  level:
    # 开启ShardingSphere核心包的DEBUG日志
    org.apache.shardingsphere: DEBUG

server:
  port: 8080


mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: org.lix.mycatdemo.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 关键：禁用 Spring Boot 自带的数据源自动配置（避免冲突）
#spring.autoconfigure.exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration